@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root { 
    font-family: "Montserrat", sans-serif;
    font-size: 18px;

    --h1: 2.986rem;
    --h2: 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

ul li {
    text-decoration: none;
    list-style: none;
    background-color: black;
    padding: .3em .7em;
    border-radius: 1em;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

ul li:hover {
    transform: scale(1.03);
    transition: 0.2s;
}

.logo img {
    width: 100px;
    height: auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
    flex-direction: column;
}

main img {
    border: 3px solid black;
    border-radius: 2em;
    box-shadow:5px 5px 10px rgb(0, 0, 0, 0.2) ;
}

.video {
    margin: 2em;
}


footer {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

footer span {
    color: red;
}

/* styles.css */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: bold;
    font-size: 1.5rem;
}

button:hover {
    background-color: rgb(255, 0, 0, 0.9);
    transition: 0.5s;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* styles.css */
.slideshow {
    display: flex;
    overflow: hidden;
}

.slidebar {
    display: flex;
    overflow-x: scroll; /* Adiciona a barra de rolagem horizontal */
    white-space: nowrap; /* Impede que as imagens quebrem para a próxima linha */
}

.slidebar img {
    width: 700px;
    height: auto;
    margin-right: 10px; /* Espaçamento entre as imagens */
}
