@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Questrial", sans-serif;
}
header {
    align-items: center;
    justify-content: center;
    background-color: #F7FEF9;
    box-shadow: 0px 3px 10px #464646;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    color: black;
}
.logo img {
    max-width: 25px;
    min-height: 25px;
    margin: 0.5rem;
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item {
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.20rem;
    font-weight: 400;
}
.login-button button {
    border: none;
    background-color: #097C02;
    padding: 10px 15px;
    border-radius: 5px;
}
.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;

}
#menu-hamburguer {
    background-color: transparent;
    max-width: 25px;
    max-height: 25px;
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}

@media screen and (max-width: 789px) {
    .nav-bar {
        padding: 1.3rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        padding: 10px;
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }

    .text-top-main h1 {
        font-size: calc();
    }
}


main {
    min-height: 1100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.top-main {
    background-image: url(./fundo.jpg);
    background-position: center center;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: #fff;
}

.text-top-main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: calc(10% - 15px);
    align-items: start;
    gap: 5px;
}

.text-top-main h1 {
    font-size: 5vw;
}

.text-top-main h2 {
    font-size: 3vw;
    font-weight: 600;
}

.btn-top-main {
    margin: 15px;
    background: transparent;
    padding: 10px 50px;
    border: #fff 3px solid;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
}

.btn-top-main:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

@keyframes onda {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
  }

  .frase-animada {
    display: inline-block;
  }

  .frase-animada span {
    display: inline-block;
    animation: onda 0.7s ease-in-out infinite;
  }

  /* Ajuste os delays para criar o efeito de onda */
  .frase-animada span:nth-child(1) { animation-delay: 0s; }
  .frase-animada span:nth-child(2) { animation-delay: 0.1s; }
  .frase-animada span:nth-child(3) { animation-delay: 0.2s; }
  /* Continue ajustando os delays para cada letra subsequente */
