@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --p-color: #348809;
  --s-color: #d63e24;
  --white-color: #f1f1f1;
  --black-color: #010101;

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

html {
  height: 100%;
  width: 100%;
}

.nav-link {
  color: var(--p-color) !important;
  font-size: 1.32rem;
  font-weight: 500;
}

.dropdown-item {
  color: var(--s-color) !important;
}

.titulo-1 {
  font-weight: 600;
  font-size: 1.44rem;
  color: var(--p-color) !important;
}

.titulo-2 {
  color: var(--s-color) !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

#countdown {
  font-size: 4em;
  margin-bottom: 20px;
}

#event-date {
  font-size: 1.5em;
}

.contador {
  background-color: var(--p-color);
  color: var(--s-color);
  padding: .5rem;
  width: calc(60vw / 2);
  margin: .5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.text-contador {
  font-size: 5.5vw;
  font-weight: 600;
}

.num-contador {
  font-size: 2.5rem;
}