body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: white;
}

.image-container {
    margin-bottom: 20px;
}

.container .logo {
    width: 100px; /* Defina a largura desejada */
    height: auto; /* Mantenha a proporção da imagem */
}

.img {
    width: 270px; /* Defina a largura desejada */
    height: auto; /* Mantenha a proporção da imagem */
    border-radius: 10px;
    border:2px solid #ff0000
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 90%; /* Define a largura para preencher o contêiner */
    box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
}

button:hover {
    background-color: rgb(255, 3, 3);
}

p#message {
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
}